@page
@model IndexModel
@{
    ViewData["Title"] = "會議室管理系統";
}

<div class="text-center">
    <h1 class="display-4">歡迎來到會議室管理系統</h1>

    <img src="images\pexels-max-vakhtbovych-7511748.jpg" width="50%" height="50%" />
    
</div>
